<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>
<a href=https://accounts.google.com/o/oauth2/auth?client_id=500520249170-r75a36k8tkdqfpm0dka0tci28vq881ke.apps.googleusercontent.com&redirect_uri=http://localhost:8083/login/oauth2/code/google&response_type=code&scope=email%20profile
>   Sign in with Google
</a>
<a href="https://www.facebook.com/v15.0/dialog/oauth?client_id=1056032482652267&redirect_uri=http://localhost:8083/login/oauth2/code/facebook&scope=email,public_profile&response_type=code">
    Sign in with Facebook
</a>
<a href="https://github.com/login/oauth/authorize?client_id=Ov23liFHDlx4fenno3Su&redirect_uri=http://localhost:8083/login/oauth2/code/github&scope=user:email">
    Sign in with GitHub
</a>



<a href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=http://localhost:8083/grantcode&response_type=code&client_id=500520249170-r75a36k8tkdqfpm0dka0tci28vq881ke.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile+openid&access_type=offline">
    Sign in with Google
</a>
<div>
    <h4><a href="/oauth2/authorization/google">Login with Google</a></h4>
</div>

<a href="/oauth2/authorization/google">Login with Google</a>
<a href="/oauth2/authorization/google">Login with Google</a>


<div><p>OR</p></div>
</body>
</html>
